<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Este site é totalmente voltado para operações CRUD, como criar usuários, ler (ou encontrar usuários), atualizar os usuários se necessário e, por fim, excluí-los.
    </p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>